<div class=" sjfsj">
    <span class="text-center pt-3 dfkj"><img src=" <%= user.avatar%>" alt=""></span>
    <h5 class="text-center pt-3">
        <%= user.name%>
    </h5>
    <p class="text-muted text-center">
        <%= user.role%>
    </p>
    <hr>

    <div class="text-center">
        <a href="/UserProfile" class="font-weight-bold text-decoration-none text-center btn btn-primary">
            Trang cá nhân
        </a>
    </div>
    <hr>
    <% if( user.role!="student" ) {%>
        <div class="text-center">
            <a href="/adminmanager" class="font-weight-bold text-decoration-none text-center btn btn-primary">
                Manager Faculty
            </a>
        </div>
        
    <hr>
        <div class="text-center">
            <a id="OpenModalPostNotification" class="font-weight-bold text-decoration-none text-center btn btn-primary">
                Đăng thông báo
            </a>
        </div>
    <% }%>
    <hr>
    <div class="dropdown">
        <button class="dropbtn btn btn-primary">Xem Thông Báo</button>
        <div class="dropdown-content">
          <a class="dropdown-item" href="/Notification">Tất cả thông báo</a>
          <a href="#">Phòng Ban</a>
          <a href="#">Khoa</a>
        </div>
      </div>       
</div>
