<div class=" sjfsj">
    <span class="text-center pt-3 dfkj"><img src=" <%= user.avatar%>" alt=""></span>
    <h5 class="text-center pt-3">
        <%= user.name%>
    </h5>
    <p class="text-muted text-center">
        <%= user.role%>
    </p>
    <hr>

    <div class="text-center">
        <a href="/UserProfile" class="font-weight-bold text-decoration-none text-center">
            View My Profile
        </a>
    </div>

    <% if( user.role=="Admin" ) {%>
        <div class="text-center">
            <a href="/adminmanager" class="font-weight-bold text-decoration-none text-center">
                Manager Faculty
            </a>
        </div>
        <% }%>

            <% if( user.role=="Law" || user.role=="CNTT" || user.role=="TCNH" || user.role=="Admin") {%>
                <div class="text-center">
                    <a href="/editaccount" class="font-weight-bold text-decoration-none text-center">
                    Change Password
                </a>
                </div>
                <% }%>
</div>