<div class="col-md-6">
    <div class="box1">
        <h1 class="text-center">Tạo tài khoản </h1>
            <form action="/adminmanager"  method="POST">
                <input name ="name" value="" id="name" type="text" placeholder="Input username account"> 
                <input name ="email" value="" id="email" type="text" placeholder="Input username email">  

                <button type="submit">Tạo</button>


            </form>
    </div>

</div>