<div class="col-md-6">
    <h1 class= "text-center">Thông tin cá nhân</h1>
    <table class="table">
        <form>
            <thead>
                <tr>
                    <th>Ảnh Đại Diện</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Tên
                        <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Nhập Tên">
                    </td>
                    <td>
                        Lớp
                        <input type="text" class="form-control" id="Class" aria-describedby="emailHelp" placeholder="Nhập Lớp">
                    </td>
                </tr>
                <tr>
                    <td>
                        Khoa
                        <input type="text" class="form-control" id="Name" aria-describedby="emailHelp" placeholder="Nhập Khoa">
                    </td>
                </tr>
            </tbody>
        </form>
    </table>

</div>